<div class="signup-container">
  <div class="form-box">
    <div class="tabs">
      <a routerLink="/login" class="tab inactive">Login</a>
      <a routerLink="/signup-home" class="tab active">SignUp</a>
    </div>

    <div class="signup-options">
      <!--Employee-->
      <div class="option-card">
        <h2>EMPLOYEE</h2>
        <p>Discover everything about Us</p>
        <ul>
          <li>Be aware of stocks</li>
          <li>Be aware of sells</li>
          <li>Discver the dashboards</li>
        </ul>
        <a routerLink="/signup-employee" class="signup-btn">
          SignUp as an employee
        </a>
      </div>
      <!--Client-->
      <div class="option-card">
        <h2>CLIENT</h2>
        <p>Discover everything about Us</p>
        <ul>
          <li>Discover our world</li>
          <li>Discover our products</li>
          <li>Discver the offers</li>
        </ul>
        <a class="signup-btn"> SignUp as a client </a>
      </div>
    </div>
    <div class="form-links">
      <a routerLink="/welcome" class="link">&larr; Back to home page</a>
    </div>
  </div>
</div>
