<div class="login-container">
  <div class="wrapper">
    <div class="form-box">
      <div class="tabs">
        <a routerLink="/login" class="tab active">Login</a>
        <a routerLink="/signup-home" class="tab inactive">SignUp</a>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-envelope-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
              />
            </svg>
          </span>
          <input
            type="email"
            id="email"
            name="email"
            required
            [(ngModel)]="email"
            placeholder=""
          />
          <p *ngIf="inputsError.emailError" class="error">
            Please check your email
          </p>
          <label for="email">Email</label>
        </div>
        <div class="form-group">
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-lock-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"
              />
            </svg>
          </span>
          <input
            type="password"
            id="password"
            name="password"
            required
            [(ngModel)]="password"
            placeholder=""
          />
          <p *ngIf="inputsError.passwordError" class="error">
            Create a secure password
          </p>
          <label for="password">Password</label>
        </div>
        <div class="terms-group">
          <label class="checkbox-container">
            <input type="checkbox" required />
            <span class="checkmark"></span>
            I accept the terms and conditions
          </label>
        </div>
        <button type="submit" class="login-btn">LOGIN</button>
        <div class="forgot-password">
          <a>Forgot Password</a>
        </div>
        <div class="form-links">
          <a routerLink="/welcome" class="link">&larr; Back to home page</a>
        </div>
      </form>
      <!--Add new image section-->
      <div class="image--box">
        <div class="image-text">
          <h1>ooredoo</h1>
        </div>
      </div>
    </div>
  </div>
</div>
